!!!
%html.c-Document.c-Document--stickyFooter(lang="ja"){ class: browser_gem_classes }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    -# - if browser.edge? || browser.ie?
    -#   %meta(name="format-detection" content="telephone=no")
    %title ABCCSS
    -# TODO: description
    %meta(name="description" content="")
    -# = display_meta_tags(default_meta_tags)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag    'application'
    -# TODO: favicon
    -# %link(rel="icon" href="/icons/icon-192.png" sizes="192x192")
    -# = favicon_link_tag("/apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png", sizes: "180x180")
    -# = favicon_link_tag("/favicon.ico")
    -# %link(rel="manifest" href="/manifest.json")

  %body.c-Document-body.c-Page{ class: yield(:body_classes) }
    %header.c-Document-header.c-Page-header
    = flash_message
    .c-Document-content.c-Page-content= yield
    %footer.c-Document-footer.c-Page-header
